body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

#countdown div {
    display: inline-block;
    margin: 0 15px;
}

#countdown div:before {
    content: attr(id);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
